<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016212216569-ht3pomhpl0dscoj0m17p8mj8cf2mc7om.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016212216569-ht3pomhpl0dscoj0m17p8mj8cf2mc7om</string>
	<key>API_KEY</key>
	<string>AIzaSyDng8hN07Sang_rE23A4hdQXTD6ntakoeY</string>
	<key>GCM_SENDER_ID</key>
	<string>1016212216569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patrykkarpinski.modyfikacjaAplikacja</string>
	<key>PROJECT_ID</key>
	<string>modyfikacja-aplikacja</string>
	<key>STORAGE_BUCKET</key>
	<string>modyfikacja-aplikacja.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016212216569:ios:d37df3881c6d13fd9be028</string>
</dict>
</plist>